h1 {
  color: #F90B6D; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 34px; 
  font-weight: 300; 
  line-height: 40px; 
  margin: 0px;
  text-align: center;
  background-color: #F0F0F0;
  width: 100vw;
}